In [2]:
import pandas as pd
%matplotlib inline

### Download the data and load it to Pandas. 

You can find the data files in the README.

In [4]:
titles = pd.read_csv('imdb_pandas/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [5]:
cast = pd.read_csv('imdb_pandas/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
titles.shape[0]

232330

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.sort_values('year').head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:
titles['title'].value_counts()['Hamlet']

18

### How many movies are titled "North by Northwest"?

In [10]:
titles['title'].value_counts()['North by Northwest']

1

### When was the first movie titled "Hamlet" made?

In [11]:
titles[titles['title'] == 'Hamlet']['year'].min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
titles[titles['title'] == 'Treasure Island'].sort_values('year')

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
titles[titles['year'] == 1950].shape[0]

1099

### How many movies were made in the year 1960?

In [14]:
titles[titles['year'] == 1960].shape[0]

1501

### How many movies were made from 1950 through 1959?

In [15]:
titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)].shape[0]

12711

### In what years has a movie titled "Batman" been released?

In [20]:
batman_movies = titles.dropna(subset=['title'])
batman_movies = batman_movies[batman_movies['title'].str.contains('Batman', case=False)][['title', 'year']]
print(batman_movies)

                                        title  year
7381                    Fight! Batman, Fight!  1973
14183                   The Lego Batman Movie  2017
24134                       Batman: The Movie  1966
27117                           Batman Untold  2010
33620      Batman v Superman: Dawn of Justice  2016
56000                                  Batman  1989
58964                   Alyas Batman at Robin  1965
74608                                  Batman  1943
87055            Batman: Mask of the Phantasm  1993
87124   Batman: Return of the Caped Crusaders  2016
89221                          Batman & Robin  1997
104174                        Batman Revealed  2012
114756                       Batman: Crusader  2014
119687                       Batman and Robin  1949
124794     B@: It's a Wonderful Life, Batman!  2016
131323               Batman New World Justice  2017
147869           Batman Beyond: Rising Knight  2014
165501                        Batman: Anarchy  2016
169225                B@ (Batman Parody Film)  2016
170060                         Batman Forever  1995
178724                           James Batman  1966
190472                          Batman Begins  2005
197539                  Batman Fights Dracula  1967
197612                         Batman Returns  1992
199772                         Batman Dracula  1964
202688               Batman: The Killing Joke  2016
205929                         Batman Reboots  2010
213209                  Alyas Batman en Robin  1991

### How many roles were there in the movie "Inception"?

In [21]:
cast[cast['title'] == 'Inception'].shape[0]

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
cast[(cast['title'] == 'Inception') & (cast['n'].isnull())].shape[0]

26

### But how many roles in the movie "Inception" did receive an "n" value?

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?