In [1]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find the data files in the README.

In [2]:
cast = pd.read_csv('imdb_pandas/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [3]:
release_dates = pd.read_csv('imdb_pandas/release_dates.csv', index_col=None, parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

C:\Users\16476\AppData\Local\Temp\ipykernel_13080\462660930.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  release_dates = pd.read_csv('imdb_pandas/release_dates.csv', index_col=None, parse_dates=['date'], infer_datetime_format=True)

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### Count the number of movies with "Christmas" in their title for each month, that is released are the USA.

In [4]:
release_dates[(release_dates['title'].str.contains('Christmas')) & (release_dates['country'] == 'USA')]['date'].dt.month.value_counts().sort_index()

date
1      2
2      2
4      1
5      1
6      1
7      1
8      2
9      2
10    14
11    38
12    47
Name: count, dtype: int64

### Count the number of movies with "Christmas" in their title for each month, that are released in Canada.

In [5]:
release_dates[(release_dates['title'].str.contains('Christmas')) & (release_dates['country'] == 'Canada')]['date'].dt.month.value_counts().sort_index()

date
10    2
11    9
12    6
Name: count, dtype: int64

### Count the number of movies in which the titles start with "The Hobbit" for each month, that are released in the USA.

### Count the number of movies with "Romance" in their title for **each day of the week**, that are released in the USA.

### Count the number of movies with "Action" in their title for **each day of the week**, that are released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with the actress Judi Dench tend to be released in the USA?

### In which months do films with the actor Tom Cruise tend to be released in the USA?